@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .markedEditor {
        @apply resize-none bg-[#454a4d] rounded-lg w-[100%] h-[43rem] outline-1 outline outline-[darkgray] outline-offset-2 p-2;
    }
    .markedOutput {
        @apply bg-[#454a4d] rounded-lg w-[100%] h-[43rem] outline-1 outline outline-[darkgray] outline-offset-2 p-2;
    }
    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
    .markedOutput > p {
        @apply m-0;
    }
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

code {
    display: inline-block;
    background-color: #383c3f;
    padding: 0.25rem 0.4rem 0.1rem 0.3rem;
    /* padding-left: 0.3rem;
    padding-right: 0.4rem; */
    border-radius: 0.25rem;
}