@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors:
    #0A011D
    #B459AE
    #D305F5
    #EB6A77
    #0E0588
    #1D0D52
    #170850
    https://dribbble.com/shots/6480064-Sularis-Countdown-Landing-Page
*/

@layer components {
    h1 {
        @apply text-6xl;
    }
    h2 {
        @apply text-5xl;
    }
    h3 {
        @apply text-4xl;
    }
    .submit-button {
        @apply bg-[lightgray] text-black p-3 rounded-lg;
    }
    .nonresize-textarea {
        @apply resize-none bg-[#454a4d] rounded-lg outline-1 outline outline-[darkgray] outline-offset-2 p-2 overflow-auto;
    }
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(/static/fonts/JetBrainsMono/ExtraBold.woff2);
}

@keyframes text-fade-in {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(100, 100, 100);
}

::-webkit-scrollbar-thumb {
    background: rgb(204, 204, 204);
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

body {
    margin: 0;
    color: whitesmoke;
    background-color: #170850;
    font-family: 'JetBrains Mono';
}

nav {
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.menu-items {
    display: flex;
    height: 4rem;
    align-items: center;
}

.menu-items,
.menu-subitems {
    font-size: 0.9em;
    width: 100%;
}

.menu-subitems {
    margin-left: 1.25rem;
}

#project-throwem-link,
#project-website-link {
    line-height: 1rem;
}

#paralax-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

#paralax-bg-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

#paralax-bg-sky {
    transform: translateZ(-20px) scale(3.11);
}

#paralax-bg-mount4 {
    transform: translateZ(-15px) scale(2.61);
}

#paralax-bg-mount3 {
    transform: translateZ(-10px) scale(2.11);
}

#paralax-bg-mount2 {
    transform: translateZ(-5px) scale(1.61);
}

#paralax-bg-mount1 {
    transform: translateZ(0px) scale(1);
}

.paralax-bg {
    position: absolute;
    width: 121%;
    height: 121%;
    object-fit: cover;
    z-index: -1;
}

#menu-middle.menu-open {
    transition: 0.1s;
    transform: translateX(10px);
    opacity: 0%;
}

#menu-top.menu-open {
    transform: rotate(-45deg) translateX(-40%) translateY(30%);
    width: 70px;
    transition: 0.2s;
}

#menu-bottom.menu-open {
    transform: rotate(45deg) translateX(30%) translateY(-60%);
    width: 70px;
    transition: 0.2s;
}

#menu-middle,
#menu-top,
#menu-bottom {
    transition: 0.2s;
}
