@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes checked-anim {
    
    100% {
        width: 17.5%;
        height: 100%;
        border-bottom-right-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 17.5%;
        height: 100%;
        border-bottom-right-radius: 0;
    }
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #181a1b;
    height: 100vh;
}

.menu-items{
    margin: 75px 0 -65px 0;
    color: darkgray;
    font: 14pt sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}

.menu-subitems{
    margin: 65px 0 -66px 0;
    color: darkgray;
    font: 12pt sans-serif;
    font-weight: 700;
    line-height: 2;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}

.route:focus{
    display: block;
    color: black;
    background-color: lightgray;
    transition: all .5s;
}

#icon{
    position: fixed;
    top: 15px;
    left: 15px;
    transition: .5s ease;
    cursor: pointer;
    z-index: 1;
}

#menu {
    position: fixed;
    margin: 0; padding: 0;
    width: 110px;
    height: 110px;
    background-color: #454a4d;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .5s both;
    transition: .5s;
}
#menu-toggle:checked ~ #menu {
    animation: checked-anim .5s ease both;
}

#menu-toggle:checked ~ #icon > svg > g > #menu-middle{
    transition: .2s;
    opacity: 0%;
}

#menu-toggle:checked ~ #icon > svg > g > #menu-top {
    transform: rotate(-45deg) translateX(-40%) translateY(30%);
    width: 70px;
    transition: .2s;
}

#menu-toggle:checked ~ #icon > svg > g > #menu-bottom {
    transform: rotate(45deg) translateX(30%) translateY(-60%);
    width: 70px;
    transition: .2s;
}

#menu-toggle ~ #icon > svg > g > #menu-middle{
    transition: .2s;
    opacity: 100%;
}

#menu-toggle ~ #icon > svg > g > #menu-top {
    transform: rotate(0) translateX(0) translateY(0);
    width: 75px;
    transition: .2s;
}

#menu-toggle ~ #icon > svg > g > #menu-bottom {
    transform: rotate(0) translateX(0) translateY(0);
    width: 75px;
    transition: .2s;
}

#menu-toggle:checked ~ #menu > li,
#menu-toggle:checked ~ #menu > li > A
{
    display: block;
}
#menu-toggle[type="checkbox"]:not(:checked),
#menu-toggle[type="checkbox"]:checked {
    display: none;
}